@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;900&display=swap');

body {
  background-image: linear-gradient(#13121f, #2a2333);  
  font-family: 'Nanum Gothic', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
